<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- require  framework-->
	<script type="text/javascript" src="__ROOT__/public/syspkg/vue.js"></script>
	<script type="text/javascript" src="__ROOT__/public/syspkg/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/public/syspkg/jquery-form.js"></script>
	<script type="text/javascript" src="__ROOT__/public/syspkg/layer/layer.js"></script>
	<script type="text/javascript" src="__ROOT__/public/syspkg/bootstrap3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__ROOT__/public/syspkg/bootstrap3.3.7/css/bootstrap.min.css">
	<!-- require user-defined -->
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="__ROOT__/public/syspkg/css/add.css">
	<title>index</title>
</head>
<body>

<!-- html中尽量不要写样式，也不要写属性，html只用来布局框架，css写入public/syspkg/css文件夹下，使用vue后js大部分由vue承担，若需额外js，写到pbulic/syspkg/js文件夹下 -->
	<div class="homeadd" id="home" >
			<div class="line" style="top: 50px;">
				<label>Category</label>
				<span><input class="inp" type="text" id="upcategory" ></span>
			</div>			
			
			
			<div class="line" style="top: 50px;">
				<button class="btnadd" id="upsubmit" >submit</button>
			</div>
	</div>
</body>
</html>